<div class="container">
	<h2 class="col-6 mx-auto text-center">New Product</h2>

	<%= render 'form', product: @product %>

	<div class="p-3 mt-3 col-6 mx-auto ">
		<%= link_to 'Back', products_path %>
	</div>

</div>